<div class="mt-4 container lsdiv">
            <div class="card text-white row p-2 lsinput mb-2 w-75" id="login">
                <div class="card-body">
                  <h5 class="card-title">Log In</h5>
                  <form class="login-form">
                    <div class="mb-2">
                        <label for= "email-login">email:</label>
                        <input type="text" id="email-login"/>
                    </div>
                    <div>
                        <label for="password-login">password:</label>
                        <input type="password" id="password-login"/>
                    </div>
                    <div>
                        <button class="mt-2 p-1" type="submit" id="login">Welcome Back!</button>
                    </div>
                </form>
                </div>
            </div>

            <div class="card text-white row p-2 lsinput mb-2 w-75" id="signup">
                <div class="card-body">
                  <h5 class="card-title">Sign Up</h5>
                  <form class="signup-form">
                    <div class="mb-2">
                        <label for= "username-signup">username:</label>
                        <input type="text" id="username-signup"/>
                    </div>
                    <div class="mb-2">
                        <label for="email-signup">email:</label>
                        <input type="text" id="email-signup"/>
                    </div>
                     <div>
                        <label for="password-signup">password:</label>
                        <input type="password" id="password-signup"/>
                    </div>
                    <div>
                        <button class="mt-2 p-1" type="submit" id="signup">Join Us!</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    
    <script src="/javascript/login.js"></script>