{{> post-info post }}

{{#if loggedIn}}
<div class="card text-white w-80 p-2 mb-2 comment">
    <div class="card-body">
        <form class="comment-form">
            <div>
                <textarea name="comment-body"></textarea>
            </div>

            <div>
                <button type="submit" id="comment">Comment</button>
            </div>
        </form>
    </div>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}